/*Cabecera*/
 .contenedor {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .imagen {
     height: 100px;
     width: 300px;

 }
 
 .textoCab {
    background-color: beige;
    margin-right: 20px;
    padding: 40px;
    font-size: 20px;

}



 .titulo {
    text-align: center;
    font-size: 30px;
    
 }


/*Formularios*/

 .enlace {
     
     font-size: 15px;
     text-decoration: underline;
     margin: 20px;
     display: inline-block;
     
 }

 .formulario {
     text-align: center;
     
 }

 .camposForm {
     margin: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 label{
    margin-right:10px ;
    width: 100px;
 }

 input {
    border-radius: 4px;
    
    
    
    
 }

 