/*
   El archivo CSS es ejecutado del lado del cliente, aunque es enviado desde el servidor.
   Los estilos aquí definidos controlan cómo se presentan los elementos visuales en el navegador del usuario.
*/

/*Cabecera*/
 .contenedor {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .imagen {
     height: 100px;
     width: 300px;

 }
 .campoUsuario{
    text-align: right;
 }
 
 .textoCab {
    background-color: beige;
    margin-right: 20px;
    padding: 40px;
    font-size: 20px;

}



 .titulo {
    text-align: center;
    font-size: 30px;
    
 }


/*Formularios*/

 .enlace {
     
     font-size: 15px;
     text-decoration: underline;
     margin: 20px;
     display: inline-block;
     
 }

 .formulario {
     text-align: center;
     
 }

 .camposForm {
     margin: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 label{
    margin-right:10px ;
    width: 80px;
 }

 input {
    border-radius: 4px;
    margin-inline: 15px;
    
 }

 button {
    margin-inline: 10px;
 }

 /* Vista de usuario */

 .portada{
   height: 150px;
   width: 100px;
   margin-right: 20px;

 }

 .promo{
   color: orange;
   font-weight: bold;
 }
 
 .contenedorLibros{
   display: flex;
   flex-direction: column;
   gap: 30px;
   align-items: center;
   justify-content: center;
   
 }

 .fichaLibro{
   padding: 10px;
   display: flex;
   align-items: center;
   border-radius: 8px;
   border: 1px solid black;
   width: 400px;
   position: relative;
   height: 200px;

 }

 .contenedorBotonComprar{
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   height: 100%; 
 }

 .botonComprar{
   margin-bottom: 15px;
 }
 .infoLibro{
   height: 180px;
   width: 220px;
 }

 /* Vista de administador*/
 .contenedorEnlaces {
   display: flex;
   flex-direction: row;
   gap: 70px;
   align-items: center;
   justify-content: center;
   padding-top: 20px;
   
}

  .fichaEnlaces{
   padding: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 8px;
   border: 1px solid black;
   width: 150px;
   
   
   

 } 


 a {
   cursor: pointer;
}

 .iconoGestion{
   height: 150px;
   width: 100px;
   padding: 10px;


}
/* Mensajes de error */
.contenedorCentrado{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contenido{
  padding: 20px;
    background-color: lightblue;
    border-radius: 8px;
    text-align: center;
}

 




 